<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.happy.prj.dtos.Answerboard_DTO" alias="AnswerboardDto"/>
		<typeAlias type="com.happy.prj.dtos.Member_DTO" alias="MemberDto"/>
		<typeAlias type="com.happy.prj.dtos.RowNum_DTO" alias="RowNum"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/sqls/Statement_Answerboard.xml"/>
		<mapper resource="/sqls/Statement_Memeber.xml"/>
	</mappers>
</configuration>
